@import "./variables-scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  
   &:root{
     
        --colornegro: #18181B;
        --colorrosado: #FF0071;
        --popins: 'Poppins', sans-serif;
        --gris: #D8D8D8;
        --plomo: #F1F2F3}
   }
   body {
    padding: 90px 0px;
    height: 100vh;
}




.header {
  background-color: var(--colornegro);
  height: 100px;
  width: 100vw;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  border-bottom: 2px solid whitesmoke;
  z-index: 2;

  nav {
    display: flex;
    justify-content: space-between;
    .nav__logo {
      font-size: 30px;
      font-weight: bold;
      padding: 20px;
      color: white;
      text-decoration: none;
    }
    .nav__toggle{
      color:white;
      background: none;
      border:none;
      transform: scale(1.8);
      padding: 30px 20px;
      display:none;
      }
    .nav__menu {
      display: flex;
      flex-direction: space-between;
      margin-right: 20px;
      list-style: none;
      .nav__item {
        font-size: 18px;
        margin: 0 20px;
        margin-top: 40px;
        text-transform: uppercase;
      }
      .nav__link {
        color:white;
        text-decoration: none;
        &:hover{
            border-bottom: 3px solid white;
            transition: 1s;
        }
    }
    
    }
  }
}
.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  .image{
    .div__imagen1 {
        width: 400px;
        margin-top: 90px;
        margin-left: 50px;
        height: 300px;
        box-shadow: 7px 7px rgba(0, 0, 0, 0.86);
      }
  }
 
  .principal {
    margin-left: 100px;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: medium 500;
    & h1 {
      @include pink;
    }
    .principal__titulo {
      font-family: var(--popins);
      font-size: 40px;
      ;
    }
    .principal__parrafo {
      font-size: 20px;
      margin-top: 40px;
      color: var(--colornegro);
    }
  }
}
.section__grid {
  .grids {
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      " actual problema1 problema1 problema1   "
      "actual problema2 problema2 problema2"
      "actual problema3 problema3 problema3";
    margin-left: 100px;
    gap: 10px;
    .actual {
      grid-area: actual;
      background-color: #fafafa;
      width: 300px;
      border-radius: 10px;
      &:hover {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.09);
      }
      .actual__titulo {
        margin-top: 50px;
        color: #18181b;
        font-size: 30px;
      }
      .actual__parrafo {
        color: #18181b;
        margin-top: 40px;
      }
    }
  }
  .problema1 {
    grid-area: problema1;
    background-color: #fafafa;
    border-radius: 10px;
    &:hover {
      box-shadow: 3px 3px rgba(0, 0, 0, 0.09);
    }
    h3{
        font-size: 20px;
    }
  }
  .problema2 {
    grid-area: problema2;
    background: #fafafa;
    border-radius: 10px;
    &:hover {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.09);
      }
  }
  .problema3{
    grid-area:problema3 ;
    background-color: #FAFAFA;
    border-radius: 10px;
    &:hover {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.09);
      }
    }
    ul li{
        list-style: none;
    }

}
.seccion {
    width: 100%;
    height: 500px;
    color: white;
    margin-top: 40px;
    background-color: var(--colornegro);
    .centrado {
        text-align: center;
        font-size: 30px;
    }
    
    .servicios {
        display: flex;
        flex-direction: row;
        height: 92%;
        text-align: center;
        bottom: 200px;
        justify-content: space-around;
        .servicios__division {
            width: 300px;
            height: 400px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.459);
                transition: 0.8s;
            }
            .asesoria {
                width: 80%;
                margin-top: 30px;
                margin-left: 5px;
                background-position: center;
            
            }
      
     
          }
          .servicios__division h3 {
            background-color: map-get($map: $estilos, $key:color);
          }
    }

    
}
.footer{
  background-color: var(--colornegro);
  height: 100px;
  width: 100%;
  left: 0;
  top: 10px;
  border-top: 2px solid whitesmoke;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 15px;
}
//hasta aqui es index
.problemas {
  display: flex;
  justify-content: space-around;
  background-color: var(--plomo);
  height: 550px;
  .problemas__info {
    margin-top: 130px;
    font-size: 20px;
    padding: 3rem;

}
.problemas__imagen {
  width: 400px;
  height: 450px;
  margin-top: 40px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.86);
  margin-right: 30px;


}

}
.ofrecemos {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 250px;
  font-size: 30px;
  background-color: white;
  & h2 , p{
    padding: 1rem;
  }
  .ofrecemos__titulo {
    color: var(--colorrosado)
}

}
.soluciones{
  .solucion1 {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 50px;
    width:70%;
    margin-inline: 200px;
background-color: #FFFFFF;
&:hover{
  box-shadow: map-get($map:$sombra,$key:box-shadow);
}
.solucion__div {
  margin-top: 40px;
   ul li{
    list-style: none;
  }
  .solucion__titulo {
    color: var(--colorrosado);
  }
}
.solucion__imagen {
  width: 300px;
  height: 250px;
  margin: 15px 0;
}

}

.solucion2 {
  @extend .solucion1;
&:hover{
  box-shadow: map-get($map:$sombra,$key:box-shadow);
}
.negro {
  color:var(--colornegro);
}
.solucion__div {
  margin-top: 40px;
  ul li{
    list-style: none;
  }
}
.solucion__imagen {
  width: 300px;
  height: 250px;
  margin: 15px 0;
}

}

.solucion3 {
  display: flex;
  justify-content: center;
  gap: 300px;
  width: 70%;
  margin-inline: 200px;
  margin-bottom: 20px;
  &:hover{
    box-shadow: map-get($map:$sombra,$key:box-shadow);
  }
  .solucion__div {
    margin-top: 40px;
    ul li{
      list-style: none;
    }
    .solucion__titulo{
      color: var(--colorrosado)
    }
  }
  .solucion__imagen {
    width: 300px;
    height: 250px;
    margin: 15px 0;
  }
}

}
.contenedor {
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 600px;


.principal__tituloblanco {
  color: white;
  font-size: 50px;
  display: inline-block;
  margin-left: 40px;

}
.nosotros {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 100px;
  .nosotros__rosado {
    color: #FF0071;
}

.nosotros__parrafo {
    font-size: 30px;
    margin-top: 30px;
}

}


}
.fondo {
  background-color: var(--colornegro);
  
}
.quienes__contenedor{

  .quienessomos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: var(--colornegro);
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    .quienessomos__div{
      margin: 100px 100px;
      display: inline-block;
      .quienessomos__parrafo {
        color: var(--colornegro);
        font-size: 20px;

  }
  
}



}
.quienes__image img{
  width: 50%;
  height: 70%;
}
}

.fondo{
  .contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .article__text{
      .textimage{
        width: 50px;
        transform: scale(0.5);
        .text__lado{
          color: white;
          font-size: 80px;
         
        }
    }
    

}
    .form{
      width:40%;
      margin-top: 50px;
      height: 100vh;
      margin-left:100px;
      .formulario{
        width: 75%;
        border: 2px dashed rgba(255, 255, 255, 0.442);
        input {
    width:75%;
    margin : 20px 50px;
    font-size: 20px;
    border: none;
    padding: 5px;
  

}

#boton {
  padding: 10px;
  background-color:  #FF0071;
  color: white;
  &:hover{
    background-color: #18181B;
    border: 2px solid #FF0071 ;
  }
}
    }
  
    }}}
  


.main__grid{
  height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 100px   ;
    grid-template-areas: 
    
    "aside naturalmente "
    "aside  mio   "
    "aside   forum"
    "piepagina piepagina"
  
  ;
  gap:10px ;
  margin-top: 15px;
  .aside{
    grid-area:aside ;
    background-color:var(--colornegro);
    color: white;
    & h2 , p {
      padding:2rem;
    }
    .aside__image{
      width: 300px;
      margin-inline: 140px;
      margin-block: 20px;
      box-shadow: 3px 3px white;
      &:hover{
        transform: scale(1.2);
      }
  }}
  .naturalmente{
    grid-area:naturalmente ;
    background-color:var(--colornegro);
        color: white;
        height: 250px;
        width: auto;
        & h2 , p {
          padding: 1rem;
        }
        .naturalmente__image{
          margin-inline: 200px;
          &:hover{
            transform: scale(1.2);
          }
      }
}
.mio{
  grid-area: mio;
  background-color:var(--colornegro);
  color: white;
  height: 250px;
  & h2 , p {
    padding: 1rem;
  }
  .mio__image{
    margin-inline: 250px;
    height: 100px;
    &:hover{
      transform: scale(1.2);
    }
}
}
.forum{
  grid-area: forum;
  background-color:var(--colornegro)    ;
  color: white;
  height: 380px;
  & h2 ,p {
    padding: 1rem;
  }
  .forum__image{
    height:200px ;
    width: 250px;
    margin-inline: 200px;
    &:hover{
      transform: scale(1.2);
    }
}
}
.piepagina{
  grid-area: piepagina;
  background-color: var(--colornegro);
  color:white;
  text-align: center;
  padding: 2rem;
}
}

@media screen and (max-width:340px) {

  .header{
    height: 200px;
    width: 100%;
    
   
   .nav{
    flex-direction: column;
   
   .nav__menu .nav__item{
    display: flex;
    font-size: 80px;
    margin-inline: 20px;}
    .nav__link{
      color:white;
       font-size: 15px;
      
      }}}
      
.div{
  display: flex;
  flex-direction: column;
  margin-bottom: 700px;
  .image{
    margin-top: 100px;
}
.div__imagen1{
  margin:40px 90px;
  width: 70%;

}
.principal{
  height: 80vh;
  width: 130vw;
}
.principal__titulo{
  margin-left: 50px;
 }
 .principal__parrafo{
  margin-left: 50px;
}

}
.section__grid .grids{
  grid-template-columns: repeat(1,3fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  "actual"
  " problema1"
  "problema2"
  "problema3"
  ;
  margin-block: 400px;
  margin-inline: 50px;
 
 width: 150vw;
}
.seccion{
  height: 250vh;
     width: 180vw;
     
     .servicios{
      flex-direction: column;
      
    }
    .servicios__division{
      margin-inline: 130px;
        }
  
   }
   
   .footer{
    width: 580px;
 }
}
@media screen and (max-width:600px){

  .header{
    height: 150px;
    width: 100%;
    text-align: center;
    
   
   .nav{
    flex-direction: column;
    .nav__toggle{
      display: block;
      margin-left: auto;
      cursor:pointer;
      
  }
  
    .nav__menu{
      flex-direction: column;
      align-items: center;
      background-color:#2c3e50;
      position: fixed;
     left:0;
     top:150px;
     width: 100%;
     padding: 20px 0;
     height: 100%;
     left: 0;
     transition: left 0.3s;}
     .nav__menu--visible{
      left:100%;
      }
    .nav__item{
    display: flex;
    font-size: 50px;
    margin-inline: 40px;
    &:hover{
      color:#83c5f7;}
  
    .nav__link{
      color:white;
       font-size: 15px;
      
      }
      }}}
      .div{
        display: flex;
        flex-direction: column-reverse;
        height: 150vh;
        margin-top: 100px;
        .image{
          .div__imagen1 {
            width: 80%;
            margin-top: 40px;
            margin-inline: 30px;
        }
        }

      .principal{
        margin-inline: 30px;
    }
    
    }
    .section__grid{
      height: 120vh;
      margin-bottom: 250px;
     width: 90vw;
     .grids{
      grid-template-columns: repeat(1,3fr);
      grid-template-rows: repeat(3,1fr);
      grid-template-areas: 
      "actual"
      " problema1"
      "problema2"
      "problema3"
      ;
      margin-inline: 50px;
  }
  .actual{
    width: 90%;
}
    }
  
  .seccion{
    height: 200vh;
    .servicios{
      flex-direction: column;
      width: 100vw;
     
  }
  .servicios__division{
    width:70%;
  margin:0 auto;
  gap: 40px;
  margin-bottom: 50px;

}
    
  }}
 
  @media screen and (max-width:340px){
    .header{
      width: 100%;
      height: 150px;
   .nav{
    .nav__toggle{
      display: block;
      margin-left: auto;
  }
  .nav__menu{
    flex-direction: column;
    align-items: center;
    background-color:#2c3e50;
    position: fixed;
   left:0;
   top:150px;
   width: 100%;
   padding: 20px 0;
   height: 100%;
   left: 0;
   transition:  left 0.3s;
   .nav__item:hover{
    color:#83c5f7;
}
   
}
.nav__menu--visible{
  left:100%;
  }
   }
   }



    .problemas{
      display: flex;
      flex-direction: column;
      height: 100vh;
    width: 400px;
    margin-inline: 80px;
      
  }
  .ofrecemos{
    margin-top:400px;
    height: 140vh;
   margin-left: 100px;
   position: relative;
   right: 50px;
   .ofrecemos__titulo{
    margin-inline: 80px;
    width: 400px;
    }
    .ofrecemos__parrafo{

      margin-block: 100px;
      margin-left: 80px;
      width: 400px;
      
      }
    

}
.soluciones{
  width: 500px;
  margin-top: 400px;
  margin-inline: 20px;
  .solucion1{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
  .solucion__imagen{
    width: 100%;
  }  
  
}
    .solucion2{
      display: flex;
      flex-direction: column;
      margin-block: 100px;
      margin-inline:50px;
      .solucion__imagen{
        width: 100%;
      }
  }
  .solucion3{
    display: flex;
    flex-direction: column;
    margin-block: 50px;
    margin-inline: 50px;
    .solucion__imagen{
      width: 100%;
    }
}

}

  }
  @media screen and (max-width:600px){

    .header{

      height: 150px;
   .nav{
    .nav__toggle{
      display: block;
      margin-left: auto;
  }
  .nav__menu{
    flex-direction: column;
    align-items: center;
    background-color:#2c3e50;
    position: fixed;
   left:0;
   top:150px;
   width: 100%;
   padding: 20px 0;
   height: 100%;
   left: 0;
   transition:  left 0.3s;
   .nav__item:hover{
    color:#83c5f7;
}
   
}
.nav__menu--visible{
  left:100%;
  }
   }
   }

   .problemas{
    flex-direction: column;
    height: 100vh;
   margin-inline: 30px;
   margin-block: 150px;
   font-size:20px ;
   .problemas__imagen{
    width: 100%;
    height: 50vh;
  
}
}
.ofrecemos{
  text-align: center;
  height: 80vh;
  gap: 10px;
  margin-top: 250px;
  .ofrecemos__parrafo{
    padding: 0.2rem;
  }
  
}
.soluciones{
  height: 300vh;
  margin-top: 100px;
  .solucion1{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    .solucion__imagen{
      width: 100%;
    }
    
}
.solucion2{
  display: flex;
  flex-direction: column;
  gap:20px;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
}
.solucion3{
  display: flex;
  flex-direction: column;
  gap:20px;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  .solucion__imagen{
    width: 100%;
  }

}
    
}

  }

  @media(max-width:340px){

    .contenedor{
      width: 580px;
      .nosotros{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 120px;
        margin-bottom: 80px;
    }
    .quienes__contenedor{
      width: 580px;
      }
      
        }

  }
  @media screen and (max-width:600px){
   
    .header{
      height: 150px;
  
   }
   .contenedor{
    
.nosotros{
  flex-direction: column;
        margin-inline: 80px;
}

   }
   .quienes__contenedor{
    .quienessomos{
      .quienessomos__div{
        margin:50px 10px;
        padding-left: 50px;
        .quienessomos__parrafo{
          font-size: 20px;
        }
      }
      .quienes__image img{
        margin-left: 50px;
        width: 70%;
      }
      
    }
   }
   .footer--nosotros{
    width: 110vw;
   }
  }

  @media(max-width:340px){


    .fondo{
      width: 100%;

      .contacto{
        display: flex;
        flex-direction: column;
        margin-inline: 50px;
        .article__text{
          .textimage{
            margin-inline: 80px;
         }
        }
        }
        .form{
          .formulario{
            width: 40vw;
        }
        }
  }

  }
  @media screen and (max-width:600px){

.fondo{
  width: 110vw;
  .contacto{
    flex-direction: column;
    .article__text{
      .textimage{
        margin-left: 80px;
        & img {
          transform: scale(0.7);
        }
      }
  
  }
.form{
  width: 70vw;
  height: 100vh;
  margin-left: 30px;
  .formulario{
    width: 130%;
   
  
}
}
}


}
.footer--contacto{
  width: 110vw;
}

}


@media(max-width:320px){

  .main__grid{
    
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    " aside"
    "naturalmente"
    "mio"
    "forum"
    "piepagina"
    ;
    .aside{
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      width: 500px;
      .aside__image{
        margin-left: 100px;
    }
  }
  .naturalmente{
    display: flex;
   flex-direction: column;
 width: 500px;
 height: 450px;
 .naturalmente__image{
  margin-inline: 80px;
      height: 250px;
      width: 300px;
  }
}
.mio{
  display: flex;
  flex-direction: column;
  width: 500px;
  height:200px;
  .mio__image{
    margin-inline: 30px;
 }
}
.forum{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 450px;
  .forum__image{
    margin-inline: 120px;
    margin-top: 80px;
}
}
.piepagina{
  height: 100px;
}


    }
}
@media screen and (max-width:600px){

  .main__grid{
    
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    " aside"
    "naturalmente"
    "mio"
    "forum"
    "piepagina"
    ;
    margin-block: 80px;
    .aside{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .naturalmente{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mio{
  width: 100vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  .mio p {
    text-align: center;
}
}
.forum{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.piepagina{
  height: 100px;
}


}
}





  
