@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif; }
  *:root {
    --colornegro: #18181B;
    --colorrosado: #FF0071;
    --popins: 'Poppins', sans-serif;
    --gris: #D8D8D8;
    --plomo: #F1F2F3; }

body {
  padding: 90px 0px;
  height: 100vh; }

.header {
  background-color: var(--colornegro);
  height: 100px;
  width: 100vw;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  border-bottom: 2px solid whitesmoke;
  z-index: 2; }
  .header nav {
    display: flex;
    justify-content: space-between; }
    .header nav .nav__logo {
      font-size: 30px;
      font-weight: bold;
      padding: 20px;
      color: white;
      text-decoration: none; }
    .header nav .nav__toggle {
      color: white;
      background: none;
      border: none;
      transform: scale(1.8);
      padding: 30px 20px;
      display: none; }
    .header nav .nav__menu {
      display: flex;
      flex-direction: space-between;
      margin-right: 20px;
      list-style: none; }
      .header nav .nav__menu .nav__item {
        font-size: 18px;
        margin: 0 20px;
        margin-top: 40px;
        text-transform: uppercase; }
      .header nav .nav__menu .nav__link {
        color: white;
        text-decoration: none; }
        .header nav .nav__menu .nav__link:hover {
          border-bottom: 3px solid white;
          transition: 1s; }

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px; }
  .div .image .div__imagen1 {
    width: 400px;
    margin-top: 90px;
    margin-left: 50px;
    height: 300px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.86); }
  .div .principal {
    margin-left: 100px;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: medium 500; }
    .div .principal h1 {
      color: #FF0071;
      font-size: 20px; }
    .div .principal .principal__titulo {
      font-family: var(--popins);
      font-size: 40px; }
    .div .principal .principal__parrafo {
      font-size: 20px;
      margin-top: 40px;
      color: var(--colornegro); }

.section__grid .grids {
  height: 500px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: " actual problema1 problema1 problema1   "
 "actual problema2 problema2 problema2"
 "actual problema3 problema3 problema3";
  margin-left: 100px;
  gap: 10px; }
  .section__grid .grids .actual {
    grid-area: actual;
    background-color: #fafafa;
    width: 300px;
    border-radius: 10px; }
    .section__grid .grids .actual:hover {
      box-shadow: 3px 3px rgba(0, 0, 0, 0.09); }
    .section__grid .grids .actual .actual__titulo {
      margin-top: 50px;
      color: #18181b;
      font-size: 30px; }
    .section__grid .grids .actual .actual__parrafo {
      color: #18181b;
      margin-top: 40px; }

.section__grid .problema1 {
  grid-area: problema1;
  background-color: #fafafa;
  border-radius: 10px; }
  .section__grid .problema1:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.09); }
  .section__grid .problema1 h3 {
    font-size: 20px; }

.section__grid .problema2 {
  grid-area: problema2;
  background: #fafafa;
  border-radius: 10px; }
  .section__grid .problema2:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.09); }

.section__grid .problema3 {
  grid-area: problema3;
  background-color: #FAFAFA;
  border-radius: 10px; }
  .section__grid .problema3:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.09); }

.section__grid ul li {
  list-style: none; }

.seccion {
  width: 100%;
  height: 500px;
  color: white;
  margin-top: 40px;
  background-color: var(--colornegro); }
  .seccion .centrado {
    text-align: center;
    font-size: 30px; }
  .seccion .servicios {
    display: flex;
    flex-direction: row;
    height: 92%;
    text-align: center;
    bottom: 200px;
    justify-content: space-around; }
    .seccion .servicios .servicios__division {
      width: 300px;
      height: 400px; }
      .seccion .servicios .servicios__division:hover {
        background-color: rgba(0, 0, 0, 0.459);
        transition: 0.8s; }
      .seccion .servicios .servicios__division .asesoria {
        width: 80%;
        margin-top: 30px;
        margin-left: 5px;
        background-position: center; }
    .seccion .servicios .servicios__division h3 {
      background-color: #FF0071; }

.footer {
  background-color: var(--colornegro);
  height: 100px;
  width: 100%;
  left: 0;
  top: 10px;
  border-top: 2px solid whitesmoke;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 15px; }

.problemas {
  display: flex;
  justify-content: space-around;
  background-color: var(--plomo);
  height: 550px; }
  .problemas .problemas__info {
    margin-top: 130px;
    font-size: 20px;
    padding: 3rem; }
  .problemas .problemas__imagen {
    width: 400px;
    height: 450px;
    margin-top: 40px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.86);
    margin-right: 30px; }

.ofrecemos {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 250px;
  font-size: 30px;
  background-color: white; }
  .ofrecemos h2, .ofrecemos p {
    padding: 1rem; }
  .ofrecemos .ofrecemos__titulo {
    color: var(--colorrosado); }

.soluciones .solucion1, .soluciones .solucion2 {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-bottom: 50px;
  width: 70%;
  margin-inline: 200px;
  background-color: #FFFFFF; }
  .soluciones .solucion1:hover, .soluciones .solucion2:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.516); }
  .soluciones .solucion1 .solucion__div, .soluciones .solucion2 .solucion__div {
    margin-top: 40px; }
    .soluciones .solucion1 .solucion__div ul li, .soluciones .solucion2 .solucion__div ul li {
      list-style: none; }
    .soluciones .solucion1 .solucion__div .solucion__titulo, .soluciones .solucion2 .solucion__div .solucion__titulo {
      color: var(--colorrosado); }
  .soluciones .solucion1 .solucion__imagen, .soluciones .solucion2 .solucion__imagen {
    width: 300px;
    height: 250px;
    margin: 15px 0; }

.soluciones .solucion2:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.516); }

.soluciones .solucion2 .negro {
  color: var(--colornegro); }

.soluciones .solucion2 .solucion__div {
  margin-top: 40px; }
  .soluciones .solucion2 .solucion__div ul li {
    list-style: none; }

.soluciones .solucion2 .solucion__imagen {
  width: 300px;
  height: 250px;
  margin: 15px 0; }

.soluciones .solucion3 {
  display: flex;
  justify-content: center;
  gap: 300px;
  width: 70%;
  margin-inline: 200px;
  margin-bottom: 20px; }
  .soluciones .solucion3:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.516); }
  .soluciones .solucion3 .solucion__div {
    margin-top: 40px; }
    .soluciones .solucion3 .solucion__div ul li {
      list-style: none; }
    .soluciones .solucion3 .solucion__div .solucion__titulo {
      color: var(--colorrosado); }
  .soluciones .solucion3 .solucion__imagen {
    width: 300px;
    height: 250px;
    margin: 15px 0; }

.contenedor {
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 600px; }
  .contenedor .principal__tituloblanco {
    color: white;
    font-size: 50px;
    display: inline-block;
    margin-left: 40px; }
  .contenedor .nosotros {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 100px; }
    .contenedor .nosotros .nosotros__rosado {
      color: #FF0071; }
    .contenedor .nosotros .nosotros__parrafo {
      font-size: 30px;
      margin-top: 30px; }

.fondo {
  background-color: var(--colornegro); }

.quienes__contenedor .quienessomos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  color: var(--colornegro);
  font-family: 'Poppins', sans-serif;
  justify-content: space-between; }
  .quienes__contenedor .quienessomos .quienessomos__div {
    margin: 100px 100px;
    display: inline-block; }
    .quienes__contenedor .quienessomos .quienessomos__div .quienessomos__parrafo {
      color: var(--colornegro);
      font-size: 20px; }

.quienes__contenedor .quienes__image img {
  width: 50%;
  height: 70%; }

.fondo .contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .fondo .contacto .article__text .textimage {
    width: 50px;
    transform: scale(0.5); }
    .fondo .contacto .article__text .textimage .text__lado {
      color: white;
      font-size: 80px; }
  .fondo .contacto .form {
    width: 40%;
    margin-top: 50px;
    height: 100vh;
    margin-left: 100px; }
    .fondo .contacto .form .formulario {
      width: 75%;
      border: 2px dashed rgba(255, 255, 255, 0.442); }
      .fondo .contacto .form .formulario input {
        width: 75%;
        margin: 20px 50px;
        font-size: 20px;
        border: none;
        padding: 5px; }
      .fondo .contacto .form .formulario #boton {
        padding: 10px;
        background-color: #FF0071;
        color: white; }
        .fondo .contacto .form .formulario #boton:hover {
          background-color: #18181B;
          border: 2px solid #FF0071; }

.main__grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 100px;
  grid-template-areas: "aside naturalmente "
 "aside  mio   "
 "aside   forum"
 "piepagina piepagina";
  gap: 10px;
  margin-top: 15px; }
  .main__grid .aside {
    grid-area: aside;
    background-color: var(--colornegro);
    color: white; }
    .main__grid .aside h2, .main__grid .aside p {
      padding: 2rem; }
    .main__grid .aside .aside__image {
      width: 300px;
      margin-inline: 140px;
      margin-block: 20px;
      box-shadow: 3px 3px white; }
      .main__grid .aside .aside__image:hover {
        transform: scale(1.2); }
  .main__grid .naturalmente {
    grid-area: naturalmente;
    background-color: var(--colornegro);
    color: white;
    height: 250px;
    width: auto; }
    .main__grid .naturalmente h2, .main__grid .naturalmente p {
      padding: 1rem; }
    .main__grid .naturalmente .naturalmente__image {
      margin-inline: 200px; }
      .main__grid .naturalmente .naturalmente__image:hover {
        transform: scale(1.2); }
  .main__grid .mio {
    grid-area: mio;
    background-color: var(--colornegro);
    color: white;
    height: 250px; }
    .main__grid .mio h2, .main__grid .mio p {
      padding: 1rem; }
    .main__grid .mio .mio__image {
      margin-inline: 250px;
      height: 100px; }
      .main__grid .mio .mio__image:hover {
        transform: scale(1.2); }
  .main__grid .forum {
    grid-area: forum;
    background-color: var(--colornegro);
    color: white;
    height: 380px; }
    .main__grid .forum h2, .main__grid .forum p {
      padding: 1rem; }
    .main__grid .forum .forum__image {
      height: 200px;
      width: 250px;
      margin-inline: 200px; }
      .main__grid .forum .forum__image:hover {
        transform: scale(1.2); }
  .main__grid .piepagina {
    grid-area: piepagina;
    background-color: var(--colornegro);
    color: white;
    text-align: center;
    padding: 2rem; }

@media screen and (max-width: 340px) {
  .header {
    height: 200px;
    width: 100%; }
    .header .nav {
      flex-direction: column; }
      .header .nav .nav__menu .nav__item {
        display: flex;
        font-size: 80px;
        margin-inline: 20px; }
      .header .nav .nav__link {
        color: white;
        font-size: 15px; }
  .div {
    display: flex;
    flex-direction: column;
    margin-bottom: 700px; }
    .div .image {
      margin-top: 100px; }
    .div .div__imagen1 {
      margin: 40px 90px;
      width: 70%; }
    .div .principal {
      height: 80vh;
      width: 130vw; }
    .div .principal__titulo {
      margin-left: 50px; }
    .div .principal__parrafo {
      margin-left: 50px; }
  .section__grid .grids {
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "actual"
 " problema1"
 "problema2"
 "problema3";
    margin-block: 400px;
    margin-inline: 50px;
    width: 150vw; }
  .seccion {
    height: 250vh;
    width: 180vw; }
    .seccion .servicios {
      flex-direction: column; }
    .seccion .servicios__division {
      margin-inline: 130px; }
  .footer {
    width: 580px; } }

@media screen and (max-width: 600px) {
  .header {
    height: 150px;
    width: 100%;
    text-align: center; }
    .header .nav {
      flex-direction: column; }
      .header .nav .nav__toggle {
        display: block;
        margin-left: auto;
        cursor: pointer; }
      .header .nav .nav__menu {
        flex-direction: column;
        align-items: center;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 150px;
        width: 100%;
        padding: 20px 0;
        height: 100%;
        left: 0;
        transition: left 0.3s; }
      .header .nav .nav__menu--visible {
        left: 100%; }
      .header .nav .nav__item {
        display: flex;
        font-size: 50px;
        margin-inline: 40px; }
        .header .nav .nav__item:hover {
          color: #83c5f7; }
        .header .nav .nav__item .nav__link {
          color: white;
          font-size: 15px; }
  .div {
    display: flex;
    flex-direction: column-reverse;
    height: 150vh;
    margin-top: 100px; }
    .div .image .div__imagen1 {
      width: 80%;
      margin-top: 40px;
      margin-inline: 30px; }
    .div .principal {
      margin-inline: 30px; }
  .section__grid {
    height: 120vh;
    margin-bottom: 250px;
    width: 90vw; }
    .section__grid .grids {
      grid-template-columns: repeat(1, 3fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "actual"
 " problema1"
 "problema2"
 "problema3";
      margin-inline: 50px; }
    .section__grid .actual {
      width: 90%; }
  .seccion {
    height: 200vh; }
    .seccion .servicios {
      flex-direction: column;
      width: 100vw; }
    .seccion .servicios__division {
      width: 70%;
      margin: 0 auto;
      gap: 40px;
      margin-bottom: 50px; } }

@media screen and (max-width: 340px) {
  .header {
    width: 100%;
    height: 150px; }
    .header .nav .nav__toggle {
      display: block;
      margin-left: auto; }
    .header .nav .nav__menu {
      flex-direction: column;
      align-items: center;
      background-color: #2c3e50;
      position: fixed;
      left: 0;
      top: 150px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      left: 0;
      transition: left 0.3s; }
      .header .nav .nav__menu .nav__item:hover {
        color: #83c5f7; }
    .header .nav .nav__menu--visible {
      left: 100%; }
  .problemas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 400px;
    margin-inline: 80px; }
  .ofrecemos {
    margin-top: 400px;
    height: 140vh;
    margin-left: 100px;
    position: relative;
    right: 50px; }
    .ofrecemos .ofrecemos__titulo {
      margin-inline: 80px;
      width: 400px; }
    .ofrecemos .ofrecemos__parrafo {
      margin-block: 100px;
      margin-left: 80px;
      width: 400px; }
  .soluciones {
    width: 500px;
    margin-top: 400px;
    margin-inline: 20px; }
    .soluciones .solucion1, .soluciones .solucion2 {
      display: flex;
      flex-direction: column;
      margin-top: 200px;
      align-items: center; }
      .soluciones .solucion1 .solucion__imagen, .soluciones .solucion2 .solucion__imagen {
        width: 100%; }
    .soluciones .solucion2 {
      display: flex;
      flex-direction: column;
      margin-block: 100px;
      margin-inline: 50px; }
      .soluciones .solucion2 .solucion__imagen {
        width: 100%; }
    .soluciones .solucion3 {
      display: flex;
      flex-direction: column;
      margin-block: 50px;
      margin-inline: 50px; }
      .soluciones .solucion3 .solucion__imagen {
        width: 100%; } }

@media screen and (max-width: 600px) {
  .header {
    height: 150px; }
    .header .nav .nav__toggle {
      display: block;
      margin-left: auto; }
    .header .nav .nav__menu {
      flex-direction: column;
      align-items: center;
      background-color: #2c3e50;
      position: fixed;
      left: 0;
      top: 150px;
      width: 100%;
      padding: 20px 0;
      height: 100%;
      left: 0;
      transition: left 0.3s; }
      .header .nav .nav__menu .nav__item:hover {
        color: #83c5f7; }
    .header .nav .nav__menu--visible {
      left: 100%; }
  .problemas {
    flex-direction: column;
    height: 100vh;
    margin-inline: 30px;
    margin-block: 150px;
    font-size: 20px; }
    .problemas .problemas__imagen {
      width: 100%;
      height: 50vh; }
  .ofrecemos {
    text-align: center;
    height: 80vh;
    gap: 10px;
    margin-top: 250px; }
    .ofrecemos .ofrecemos__parrafo {
      padding: 0.2rem; }
  .soluciones {
    height: 300vh;
    margin-top: 100px; }
    .soluciones .solucion1, .soluciones .solucion2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      margin: 0 auto;
      text-align: center; }
      .soluciones .solucion1 .solucion__imagen, .soluciones .solucion2 .solucion__imagen {
        width: 100%; }
    .soluciones .solucion2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      text-align: center;
      margin: 0 auto; }
    .soluciones .solucion3 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      text-align: center;
      margin: 0 auto; }
      .soluciones .solucion3 .solucion__imagen {
        width: 100%; } }

@media (max-width: 340px) {
  .contenedor {
    width: 580px; }
    .contenedor .nosotros {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 120px;
      margin-bottom: 80px; }
    .contenedor .quienes__contenedor {
      width: 580px; } }

@media screen and (max-width: 600px) {
  .header {
    height: 150px; }
  .contenedor .nosotros {
    flex-direction: column;
    margin-inline: 80px; }
  .quienes__contenedor .quienessomos .quienessomos__div {
    margin: 50px 10px;
    padding-left: 50px; }
    .quienes__contenedor .quienessomos .quienessomos__div .quienessomos__parrafo {
      font-size: 20px; }
  .quienes__contenedor .quienessomos .quienes__image img {
    margin-left: 50px;
    width: 70%; }
  .footer--nosotros {
    width: 110vw; } }

@media (max-width: 340px) {
  .fondo {
    width: 100%; }
    .fondo .contacto {
      display: flex;
      flex-direction: column;
      margin-inline: 50px; }
      .fondo .contacto .article__text .textimage {
        margin-inline: 80px; }
    .fondo .form .formulario {
      width: 40vw; } }

@media screen and (max-width: 600px) {
  .fondo {
    width: 110vw; }
    .fondo .contacto {
      flex-direction: column; }
      .fondo .contacto .article__text .textimage {
        margin-left: 80px; }
        .fondo .contacto .article__text .textimage img {
          transform: scale(0.7); }
      .fondo .contacto .form {
        width: 70vw;
        height: 100vh;
        margin-left: 30px; }
        .fondo .contacto .form .formulario {
          width: 130%; }
  .footer--contacto {
    width: 110vw; } }

@media (max-width: 320px) {
  .main__grid {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: " aside"
 "naturalmente"
 "mio"
 "forum"
 "piepagina"; }
    .main__grid .aside {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      width: 500px; }
      .main__grid .aside .aside__image {
        margin-left: 100px; }
    .main__grid .naturalmente {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 450px; }
      .main__grid .naturalmente .naturalmente__image {
        margin-inline: 80px;
        height: 250px;
        width: 300px; }
    .main__grid .mio {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 200px; }
      .main__grid .mio .mio__image {
        margin-inline: 30px; }
    .main__grid .forum {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: 450px; }
      .main__grid .forum .forum__image {
        margin-inline: 120px;
        margin-top: 80px; }
    .main__grid .piepagina {
      height: 100px; } }

@media screen and (max-width: 600px) {
  .main__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: " aside"
 "naturalmente"
 "mio"
 "forum"
 "piepagina";
    margin-block: 80px; }
    .main__grid .aside {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main__grid .naturalmente {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main__grid .mio {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .main__grid .mio .mio p {
        text-align: center; }
    .main__grid .forum {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main__grid .piepagina {
      height: 100px; } }
